<!DOCTYPE html>
<html lang="en"
      style="--bs-body-color: black; --bs-body-bg: white; --bs-active-color: rgba(0, 0, 0, 0.3);">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description"
          content="I am a Master's student in Computer Science at ETH Zurich. Generally interested in all aspects of computer systems, from semiconductors to code. Enjoy photography while traveling."/>
    <meta name="author" content="Zikai Liu"/>
    <title>Zikai Liu</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5a5a5a">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
    <!-- Core theme CSS (includes Bootstrap and self-host Nunito) -->
    <link href="/css/styles.css" rel="stylesheet"/>
    <!-- Preloads (crossorigin is needed for fonts) -->
    <link rel="preload" href="/fonts/nunito-sans-v12-latin-200.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" fetchpriority="high" href="/assets/masthead-normal.jpg" as="image" type="image/jpeg">
    <link rel="preload" fetchpriority="high" href="/assets/robomaster-me.jpg" as="image" type="image/jpeg">
    <link rel="preload" href="/fonts/nunito-sans-v12-latin-700.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/nunito-sans-v12-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/js/scripts.min.js" as="script">
    <!-- If not preloading, images files can be loaded first, which is not desired     -->
    <!-- SVG icons are loaded in the scripts.js, which also have high priorities       -->
    <!-- Images are loaded normally, while the videos are lazily loaded as modal opens -->
</head>
<body id="page-top">

<!-- Display the background image only when completely loaded -->
<div id="preload" style="display: none">
    <img src="/assets/masthead-normal.jpg"
         onload='document.getElementById("masthead").classList.add("masthead-home-bg");' alt="">
</div>

<%- include("components/_embedded_svgs.ejs") %>

<!-- Navigation-->
<nav class="navbar navbar-expand-md navbar-light fixed-top" id="mainNav">
    <!-- container for margin and padding, d-block when < lg to expand drop-down, d-lg-flex for same line -->
    <div class="container px-4 px-lg-5 d-block d-md-flex">
        <div class="d-flex" style="height: 100%; flex:auto; justify-content: space-between;" id="mainNavBody">
            <a class="navbar-brand" href="/">
                Zikai Liu
            </a>
            <div class="navbar-toggler collapsed my-auto"
                 data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                 aria-expanded="false" aria-label="Toggle navigation">
                <svg width="1.5rem" height="1.5rem" fill="currentColor" viewBox="0 0 16 16" id="navbarMenu">
                    <path class="navbar-line one" d="M2.5,4c0-0.3,0.2-0.5,0.5-0.5h10c0.3,0,0.5,0.2,0.5,0.5S13.3,4.5,13,4.5H3C2.7,4.5,2.5,4.3,2.5,4z"/>
                    <path class="navbar-line two" d="M2.5,8c0-0.3,0.2-0.5,0.5-0.5h10c0.3,0,0.5,0.2,0.5,0.5c0,0.3-0.2,0.5-0.5,0.5H3C2.7,8.5,2.5,8.3,2.5,8z"/>
                    <path class="navbar-line three" d="M2.5,12c0-0.3,0.2-0.5,0.5-0.5h10c0.3,0,0.5,0.2,0.5,0.5s-0.2,0.5-0.5,0.5H3C2.7,12.5,2.5,12.3,2.5,12z"/>
                </svg>
            </div>
        </div>
        <!-- Expanded when >= md, drop-down menu when < md -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item navbar-invisible-shrink">
                    <a class="nav-link active " href="/">Home</a>
                </li>
                <li class="nav-item navbar-invisible-shrink">
                    <a class="nav-link " href="/projects">Projects</a>
                </li>
                <li class="nav-item navbar-invisible-shrink">
                    <a class="nav-link " href="/photography">Photography</a>
                </li>
                <li class="nav-item navbar-invisible-shrink">
                    <a class="nav-link " href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Masthead-->
<header class="masthead min-vh-100" id="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex flex-column justify-content-center h-100">
            <div class="py-5" style="height: 5rem;"> <!-- placeholder--> </div>
            <div class="masthead-text text-center py-4">
                <p class="mx-auto mt-1 mb-0">People walk on the ground,</p>
                <p class="mx-auto mt-1 mb-0">yet try creating a starry sky.</p>
            </div>
            <!-- Scroll Indicator -->
            <div class="text-center py-5" style="height: 5rem; color: rgba(0, 0, 0, 0.25)">
                <svg width="2.25em" height="2.25em" fill="currentColor" viewBox="0 0 16 16" id="homeScrollIndicator">
                    <path fill-rule="evenodd" class="scroll-indicator-path scroll-indicator-path-active"
                          style="animation-delay: -1s"
                          d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    <path fill-rule="evenodd" class="scroll-indicator-path scroll-indicator-path-active"
                          style="animation-delay: -1.5s"
                          d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-end justify-content-center">

    </div>
</header>

<!-- Body + Footer -->
<section class="" id="homeSection">
    <div class="d-flex justify-content-center" id="biographyContainer">
        <div class="container px-4 px-md-0 my-auto">
            <!-- Biography -->
            <div class="row justify-content-between align-items-center pt-5" id="biography">
                <div class="col-md-5 mt-auto mt-md-0">
                    <div class="px-5 px-md-0">
                        <div class="mx-auto" id="biography-photo"></div>
                    </div>
                </div>
                <div class="col-md-7 pt-5 pt-md-0 px-0">
                    <!-- Biography -->
                    <div class="biography-text center-text mx-auto my-auto" id="biography-text">
                        I&nbsp;am&nbsp;Zikai Liu, a&nbsp;Master's&nbsp;student in Computer&nbsp;Science at ETH&nbsp;Zurich.
                    </div>
                    <!-- Main Navigations -->
                    <div id="biography-links" class="row mx-auto pt-5 pt-md-0">
                        <div class="biography-link home-link-text center-text col-4">
                            <!-- style="width: 100%; height: 100%" in svg is needed for Safari -->
                            <a id="about-link" href="/about">
                                <%- include("svgs/about-main-icon.svg") %>
                            </a>
                        </div>
                        <div class="biography-link home-link-text center-text col-4">
                            <a id="projects-link" href="/projects">
                                <%- include("svgs/project-main-icon.svg") %>
                            </a>
                        </div>
                        <div class="biography-link home-link-text center-text col-4">
                            <a id="photography-link" href="/photography">
                                <%- include("svgs/photography-main-icon.svg") %>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Small Contacts -->
            <div class="d-flex justify-content-center pt-5 pb-4 mt-auto" id="homeContacts">
                <a class="mx-2 " id href="mailto: zikai.liu@outlook.com" aria-label="Email me">
                    <svg width="1.2em" height="1.2em">
                        <use xlink:href="#bi-envelope"></use>
                    </svg>
                </a>
                <a class="mx-2 " target="_blank" rel="noopener noreferrer"
                   href="https://www.linkedin.com/in/zikai-liu/" aria-label="Visit my LinkedIn">
                    <svg width="1.2em" height="1.2em">
                        <use xlink:href="#bi-linkedin"></use>
                    </svg>
                </a>
                <a class="mx-2 " target="_blank" rel="noopener noreferrer"
                   href="https://github.com/liuzikai" aria-label="Visit my GitHub">
                    <svg width="1.2em" height="1.2em">
                        <use xlink:href="#bi-github"></use>
                    </svg>
                </a>
            </div>
            <!-- Copyright -->
            <div class="d-flex justify-content-center pb-4">
                <div class="small text-center">Zikai Liu &copy; 2023</div>
            </div>
        </div>
    </div>
</section>

<!-- Core JS with Bootstrap components needed -->
<script id="main-script" src="/js/scripts.min.js" data-page="home"></script>
</body>
</html>
