<!DOCTYPE html>
<html lang="en"
      style="background-color: rgba(255, 255, 255, 0.6); --bs-body-color: rgba(255, 255, 255, 0.6); --bs-body-rgb: 255, 255, 255; --bs-active-color: white; --bs-annotation-color: rgba(255, 255, 255, 0.5); --bs-annotation-bg: rgba(0, 0, 0, 1);">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Some of the photos I took during my trips."/>
    <meta name="author" content="Zikai Liu"/>
    <title>Zikai Liu's Photography</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5a5a5a">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
    <!-- Core theme CSS (includes Bootstrap and self-host Nunito) -->
    <link href="/css/styles.css" rel="stylesheet"/>
    <!-- Preloads (crossorigin is needed for fonts) -->
    <link rel="preload" href="/fonts/nunito-sans-v12-latin-200.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" fetchpriority="high" href="/assets/masthead-color.jpg" as="image" type="image/jpeg">
    <link rel="preload" href="/fonts/nunito-sans-v12-latin-700.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/nunito-sans-v12-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/js/scripts.min.js" as="script">
    <!-- If not preloading, images files can be loaded first, which is not desired     -->
    <!-- SVG icons are loaded in the scripts.js, which also have high priorities       -->
    <!-- Images are loaded normally, while the videos are lazily loaded as modal opens -->
</head>
<!-- TODO: this offset is a bit random -->
<body id="page-top" data-bs-spy="scroll" data-bs-target="#thumbnails" data-bs-offset="150">

<!-- Display the background image only when completely loaded -->
<div id="preload" style="display: none">
    <img src="/assets/masthead-color.jpg"
         onload='document.getElementById("masthead").classList.add("masthead-photography-bg");' alt="">
</div>

<%- include("embedded-svgs.ejs") %>

<!-- Navigation-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="mainNav">
    <!-- container for margin and padding, d-block when < lg to expand drop-down, d-lg-flex for same line -->
    <div class="container px-4 px-lg-5 d-block d-md-flex">
        <div class="d-flex" style="height: 100%; flex:auto; justify-content: space-between;"
             id="mainNavBody">
            <a class="navbar-brand" href="/">
                Zikai Liu
            </a>
            <div class="navbar-toggler collapsed my-auto"
                 data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                 aria-expanded="false" aria-label="Toggle navigation">
                <svg width="16" height="16">
                    <use xlink:href="#bi-chevron-right"></use>
                </svg>
            </div>
        </div>
        <!-- Expanded when >= md, drop-down menu when < md -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item navbar-invisible-shrink">
                    <a class="nav-link " href="/">Home</a>
                </li>
                <li class="nav-item navbar-invisible-shrink">
                    <a class="nav-link " href="/projects">Projects</a>
                </li>
                <li class="nav-item navbar-invisible-shrink">
                    <a class="nav-link active " href="/photography">Photography</a>
                </li>
                <li class="nav-item navbar-invisible-shrink">
                    <a class="nav-link " href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Masthead-->
<header class="masthead min-vh-100" id="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex flex-column justify-content-center h-100">
            <div class="py-5" style="height: 5rem;"> <!-- placeholder--> </div>
            <div class="masthead-text text-center">
                <p class="mx-auto mt-1 mb-0">Life has so much beauty</p>
                <p class="mx-auto mt-1 mb-0">waiting for us to discover</p>
                <p class="mx-auto mt-1 mb-0">together.</p>
            </div>
            <!-- Scroll Indicator -->
            <div class="text-center py-5" style="height: 5rem; color: rgba(255, 255, 255, 0.3)">
                <svg width="2.25em" height="2.25em" fill="currentColor" viewBox="0 0 16 16" id="homeScrollIndicator">
                    <path fill-rule="evenodd" class="scroll-indicator-path scroll-indicator-path-active"
                          style="animation-delay: -1s"
                          d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    <path fill-rule="evenodd" class="scroll-indicator-path scroll-indicator-path-active"
                          style="animation-delay: -1.5s"
                          d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
            </div>
        </div>
    </div>
</header>

<!-- Body -->
<section class="projects-section" id="projects">
    <div class="pic-section px-3 px-lg-5 pt-5">
        <div class="pic-list pic-gallery" id="photos">
            <div id="_0" class="pic-wrapper">
                <img class="pic-img" src="/assets/photos/Xinjiang-1.jpg"/>
            </div>
            <div id="_1" class="pic-wrapper">
                <img class="pic-img" src="/assets/photos/Xinjiang-2.jpg"/>
            </div>
            <div id="_2" class="pic-wrapper">
                <img class="pic-img" src="/assets/photos/Xinjiang-3.jpg"/>
            </div>
            <div id="_3" class="pic-wrapper">
                <img class="pic-img" src="/assets/photos/Xinjiang-4.jpg"/>
            </div>
            <div id="_4" class="pic-wrapper">
                <img class="pic-img" src="/assets/photos/Xinjiang-5.jpg"/>
            </div>
            <div id="_5" class="pic-wrapper">
                <img class="pic-img" src="/assets/photos/Seattle-1.jpg"/>
            </div>
            <div id="_6" class="pic-wrapper">
                <img class="pic-img" src="/assets/photos/Chigago-1.jpg"/>
            </div>
            <div id="_7" class="pic-wrapper">
                <img class="pic-img" src="/assets/photos/New-York-1.jpg"/>
            </div>
            <div id="_8" class="pic-wrapper">
                <img class="pic-img" src="/assets/photos/Japan-1.jpg"/>
            </div>
            <div id="_9" class="pic-wrapper">
                <img class="pic-img" src="/assets/photos/Heihe-1.jpg"/>
            </div>
            <div id="_10" class="pic-wrapper">
                <img class="pic-img" src="/assets/photos/Hiking-1.jpg"/>
            </div>
            <div id="_11" class="pic-wrapper">
                <img class="pic-img" src="/assets/photos/Lausanne-1.jpg"/>
            </div>
            <div id="_12" class="pic-wrapper">
                <img class="pic-img" src="/assets/photos/Lausanne-2.jpg"/>
            </div>
            <div id="_13" class="pic-wrapper">
                <img class="pic-img" src="/assets/photos/Dresden-1.jpg"/>
            </div>
            <div id="_14" class="pic-wrapper">
                <img class="pic-img" src="/assets/photos/Prague-1.jpg"/>
            </div>
            <div id="_15" class="pic-wrapper">
                <img class="pic-img" src="/assets/photos/Lavertezzo-1.jpg"/>
            </div>
            <div id="_16" class="pic-wrapper">
                <img class="pic-img" src="/assets/photos/Zermatt-1.jpg"/>
            </div>
            <div id="_17" class="pic-wrapper">
                <img class="pic-img" src="/assets/photos/Flims-1.jpg"/>
            </div>
            <div id="_18" class="pic-wrapper">
                <img class="pic-img" src="/assets/photos/Jungfraujoch-1.jpg"/>
            </div>
            <div id="_19" class="pic-wrapper">
                <img class="pic-img" src="/assets/photos/Interlaken-1.jpg"/>
            </div>
            <div id="_20" class="pic-wrapper">
                <img class="pic-img" src="/assets/photos/Interlaken-2.jpg"/>
            </div>
            <div id="_21" class="pic-wrapper">
                <img class="pic-img" src="/assets/photos/Zurich-1.jpg"/>
            </div>
        </div>
        <div class="d-flex align-items-start">
            <div class="pic-list pic-thumbnail-list list-group mx-auto" id="thumbnails">
                <a class="pic-thumbnail-wrapper list-group-item list-group-item-action" href="#_0">
                    <img class="pic-thumbnail-img" src="/assets/photos/thumbnails/Xinjiang-1.jpg"/>
                    <div class="pic-thumbnail-overlay"></div>
                </a>
                <a class="pic-thumbnail-wrapper list-group-item list-group-item-action" href="#_1">
                    <img class="pic-thumbnail-img" src="/assets/photos/thumbnails/Xinjiang-2.jpg"/>
                    <div class="pic-thumbnail-overlay"></div>
                </a>
                <a class="pic-thumbnail-wrapper list-group-item list-group-item-action" href="#_2">
                    <img class="pic-thumbnail-img" src="/assets/photos/thumbnails/Xinjiang-3.jpg"/>
                    <div class="pic-thumbnail-overlay"></div>
                </a>
                <a class="pic-thumbnail-wrapper list-group-item list-group-item-action" href="#_3">
                    <img class="pic-thumbnail-img" src="/assets/photos/thumbnails/Xinjiang-4.jpg"/>
                    <div class="pic-thumbnail-overlay"></div>
                </a>
                <a class="pic-thumbnail-wrapper list-group-item list-group-item-action" href="#_4">
                    <img class="pic-thumbnail-img" src="/assets/photos/thumbnails/Xinjiang-5.jpg"/>
                    <div class="pic-thumbnail-overlay"></div>
                </a>
                <a class="pic-thumbnail-wrapper list-group-item list-group-item-action" href="#_5">
                    <img class="pic-thumbnail-img" src="/assets/photos/thumbnails/Seattle-1.jpg"/>
                    <div class="pic-thumbnail-overlay"></div>
                </a>
                <a class="pic-thumbnail-wrapper list-group-item list-group-item-action" href="#_6">
                    <img class="pic-thumbnail-img" src="/assets/photos/thumbnails/Chigago-1.jpg"/>
                    <div class="pic-thumbnail-overlay"></div>
                </a>
                <a class="pic-thumbnail-wrapper list-group-item list-group-item-action" href="#_7">
                    <img class="pic-thumbnail-img" src="/assets/photos/thumbnails/New-York-1.jpg"/>
                    <div class="pic-thumbnail-overlay"></div>
                </a>
                <a class="pic-thumbnail-wrapper list-group-item list-group-item-action" href="#_8">
                    <img class="pic-thumbnail-img" src="/assets/photos/thumbnails/Japan-1.jpg"/>
                    <div class="pic-thumbnail-overlay"></div>
                </a>
                <a class="pic-thumbnail-wrapper list-group-item list-group-item-action" href="#_9">
                    <img class="pic-thumbnail-img" src="/assets/photos/thumbnails/Heihe-1.jpg"/>
                    <div class="pic-thumbnail-overlay"></div>
                </a>
                <a class="pic-thumbnail-wrapper list-group-item list-group-item-action" href="#_10">
                    <img class="pic-thumbnail-img" src="/assets/photos/thumbnails/Hiking-1.jpg"/>
                    <div class="pic-thumbnail-overlay"></div>
                </a>
                <a class="pic-thumbnail-wrapper list-group-item list-group-item-action" href="#_11">
                    <img class="pic-thumbnail-img" src="/assets/photos/thumbnails/Lausanne-1.jpg"/>
                    <div class="pic-thumbnail-overlay"></div>
                </a>
                <a class="pic-thumbnail-wrapper list-group-item list-group-item-action" href="#_12">
                    <img class="pic-thumbnail-img" src="/assets/photos/thumbnails/Lausanne-2.jpg"/>
                    <div class="pic-thumbnail-overlay"></div>
                </a>
                <a class="pic-thumbnail-wrapper list-group-item list-group-item-action" href="#_13">
                    <img class="pic-thumbnail-img" src="/assets/photos/thumbnails/Dresden-1.jpg"/>
                    <div class="pic-thumbnail-overlay"></div>
                </a>
                <a class="pic-thumbnail-wrapper list-group-item list-group-item-action" href="#_14">
                    <img class="pic-thumbnail-img" src="/assets/photos/thumbnails/Prague-1.jpg"/>
                    <div class="pic-thumbnail-overlay"></div>
                </a>
                <a class="pic-thumbnail-wrapper list-group-item list-group-item-action" href="#_15">
                    <img class="pic-thumbnail-img" src="/assets/photos/thumbnails/Lavertezzo-1.jpg"/>
                    <div class="pic-thumbnail-overlay"></div>
                </a>
                <a class="pic-thumbnail-wrapper list-group-item list-group-item-action" href="#_16">
                    <img class="pic-thumbnail-img" src="/assets/photos/thumbnails/Zermatt-1.jpg"/>
                    <div class="pic-thumbnail-overlay"></div>
                </a>
                <a class="pic-thumbnail-wrapper list-group-item list-group-item-action" href="#_17">
                    <img class="pic-thumbnail-img" src="/assets/photos/thumbnails/Flims-1.jpg"/>
                    <div class="pic-thumbnail-overlay"></div>
                </a>
                <a class="pic-thumbnail-wrapper list-group-item list-group-item-action" href="#_18">
                    <img class="pic-thumbnail-img" src="/assets/photos/thumbnails/Jungfraujoch-1.jpg"/>
                    <div class="pic-thumbnail-overlay"></div>
                </a>
                <a class="pic-thumbnail-wrapper list-group-item list-group-item-action" href="#_19">
                    <img class="pic-thumbnail-img" src="/assets/photos/thumbnails/Interlaken-1.jpg"/>
                    <div class="pic-thumbnail-overlay"></div>
                </a>
                <a class="pic-thumbnail-wrapper list-group-item list-group-item-action" href="#_20">
                    <img class="pic-thumbnail-img" src="/assets/photos/thumbnails/Interlaken-2.jpg"/>
                    <div class="pic-thumbnail-overlay"></div>
                </a>
                <a class="pic-thumbnail-wrapper list-group-item list-group-item-action" href="#_21">
                    <img class="pic-thumbnail-img" src="/assets/photos/thumbnails/Zurich-1.jpg"/>
                    <div class="pic-thumbnail-overlay"></div>
                </a>
            </div>
        </div>
    </div>
    <!-- Final words -->
    <div class="container pt-5 px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="masthead-text text-center">
                <p class="mx-auto mt-1 mb-0">The next destination awaits.</p>
            </div>
        </div>
    </div>
</section>

<!-- Contact-->
<section class="contact-section contact-section-dark">
    <div class="container px-4 px-lg-5">
        <div class="social d-flex justify-content-center">
            <a class="mx-2 " href="mailto: zikai.liu@outlook.com" aria-label="Email me">
                <svg width="1.5em" height="1.5em">
                    <use xlink:href="#bi-envelope"></use>
                </svg>
            </a>
            <a class="mx-2 " target="_blank" rel="noopener noreferrer"
               href="https://www.linkedin.com/in/zikai-liu/" aria-label="Visit my LinkedIn">
                <svg width="1.5em" height="1.5em">
                    <use xlink:href="#bi-linkedin"></use>
                </svg>
            </a>
            <a class="mx-2 " target="_blank" rel="noopener noreferrer"
               href="https://github.com/liuzikai" aria-label="Visit my GitHub">
                <svg width="1.5em" height="1.5em">
                    <use xlink:href="#bi-github"></use>
                </svg>
            </a>
        </div>
    </div>
</section>

<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50">
    <div class="container px-4 px-lg-5">Zikai Liu &copy; 2023</div>
    <div class="container px-4 px-lg-5 py-4">
        <a class="text-white-50 " target="_blank" rel="noopener noreferrer"
           href="https://github.com/liuzikai/liuzik.ai" aria-label="Visit the GitHub repository of this website">
            Nuts and bolts about this website on
            <span style="white-space: nowrap">
            <svg width="1em" height="1em" style="position: relative; top: -0.15em">
                <use xlink:href="#bi-github"></use>
            </svg>
            GitHub
            <svg width="1em" height="1em" style="position: relative; top: -0.15em">
                <use xlink:href="#bi-chevron-right"></use>
            </svg>
            </span>
        </a>
    </div>
</footer>
<!-- Core JS with Bootstrap components needed -->
<script id="main-script" src="/js/scripts.min.js" data-page="photography"></script>
</body>
</html>
