//
// Customized Modal
//

.modal-content {
    background-color: $black;
}

.modal-body {
    background-color: $black;
}

.modal-gallery {
    padding: 0;
    @include media-breakpoint-up(lg) {
        padding: 5rem 0;
    }
}

.modal-close {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 9999;
    overflow: hidden;
    top: 0.75em;
    left: 0.75em;
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 1;
    cursor: pointer;
    background: none;
    border: 0;
    mix-blend-mode: difference;
    color: rgba(255, 255, 255, 1) !important;
}

.modal-close:hover {
    color: rgba(255, 255, 255, 0.5) !important;
}
