//
// Customized Modal
//

.modal-content {
    background-color: $black;
}

.modal-body {
    background-color: $black;
}

.modal-gallery {
    padding: 0;
    @include media-breakpoint-up(lg) {
        padding: 5rem 0;
    }
}

.modal-close {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 9999;
    overflow: hidden;
    top: 0.6em;
    right: 0.6em;
    font-size: 1.75rem;
    @include media-breakpoint-up(lg) {
        top: 1.5em;
        right: 1.5em;
        font-size: 2rem;
    }
    margin: 0;
    padding: 0;
    line-height: 1;
    cursor: pointer;
    background: #333333;
    border: 0;
    border-radius: 2rem;
    // mix-blend-mode: difference;
    color: #d6d6d6;
}

.modal-close:hover {
    color: #ffffff !important;
}

.modal.fade .modal-dialog {
    // Disable slide-in
    transform: none;

}
