//
// Navbar
//

#mainNav {
    min-height: 3.5rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: background-color 0.2s ease-in-out;
    /* border-bottom-color behaviors weirdly on Safari */

    .navbar-toggler {
        font-size: 80%;
        padding: 0.75rem;
        color: rgba(255, 255, 255, 0.5);
        border: none;

        &:focus {
            outline: none;
        }

        transform: rotate(180deg);
        transition: transform 0.5s;
    }

    .collapsed .navbar-toggler {
        transform: none;
        transition: transform 0.5s;
    }

    .navbar-brand {
        padding: 0.9rem 0;
    }

    .navbar-brand-text {
        font-size: 1.5rem;
        color: $white;
        font-weight: 700;
    }

    .navbar-brand-part1 {
        padding-right: 0;
    }

    .navbar-brand-part2-container {
        position: relative;
    }

    .navbar-brand-part2:after {
        content: " Liu";
    }

    @include media-breakpoint-down(lg) {
        .navbar-brand-part2:before {
            content: "'s Projects";
            opacity: 0;
            transition: opacity 0.5s ease;
        }

        .navbar-brand-part2:after {
            content: "\00a0Liu";
            opacity: 1;
            transition: opacity 0.5s ease;
            position:absolute;
            left: 0;
        }

        .collapsed .navbar-brand-part2:before {
            opacity: 1;
        }

        .collapsed .navbar-brand-part2:after {
            opacity: 0;
        }
    }

    .nav-link {
        &:hover {
            color: $white;
        }
    }

    .navbar-nav {
        .nav-item {
            &:hover {
                color: $white;
                outline: none;
                background-color: transparent;
            }

            &:active,
            &:focus {
                outline: none;
                background-color: transparent;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &:not(.navbar-shrink) {
            border-bottom: none;
            background-color: transparent;
            -webkit-backdrop-filter: none;
            backdrop-filter: none;
        }

        .nav-link {
            padding: 1.5rem 1.5rem 1.25rem;
            color: rgba(255, 255, 255, 0.3);
            transition: color 0.2s ease-in-out;
            /* Safari behaviors weirdly if this is commented */

            &:hover {
                color: $white;
            }

            &:active {
                color: $white;
            }
        }

        &.navbar-shrink {
            .navbar-brand {
                color: rgba(255, 255, 255, 0.5);
            }

            .nav-link {
                color: rgba(255, 255, 255, 0.5);
                padding: 1.5rem 1.5rem 1.25rem;
                /*border-bottom: 0.25rem solid transparent;*/

                &:hover {
                    color: $white;
                }

                &:active {
                    color: $white;
                }

                /*&.active {
                    color: $white;
                    outline: none;
                    border-bottom: 0.25rem solid $primary;
                }*/
            }
        }
    }
}
