//
// Contact
//

.contact-section {
    padding-top: 0;

    .social {
        margin-top: 5rem;

        a {
            text-align: center;
            height: 3rem;
            width: 3rem;
            //background: fade-out($white, 0.9);
            border-radius: 100%;
            line-height: 3rem;
            //color: fade-out($white, 0.7);

            &:hover {
                color: var(--bs-active-color);
            }

            &:active {
                color: var(--bs-active-color);
            }
        }
    }
}

.contact-section-dark {
    .social {
        a {
            background: rgba(255, 255, 255, 0.1);
            color: rgba(255, 255, 255, 0.5);
        }
    }
}

.contact-section-light {
    .social {
        a {
            background: rgba(0, 0, 0, 0.05);
            color: $black;
        }
    }
}
