//
// Masthead
//

.masthead {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  padding: 0;

  // Background loading transaction
  opacity: 0;
  // Actual background &.masthead-*-bg in page-specific scss

  @keyframes bg-fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes bg-fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes bg-fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .masthead-text {
    font-size: 2.5vmax;  // vmax works better for mobile
    font-weight: lighter;
    @include media-breakpoint-up(sm) {
      font-size: 1rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 1.25rem;
    }
    @include media-breakpoint-up(xl) {
      font-size: 1.5rem;
    }
  }

  .masthead-text-large {
    font-weight: 700;
    // Customized responsive font sizes
    font-size: 1.75rem;
    @include media-breakpoint-up(sm) {
      font-size: 2rem;
    }
    @include media-breakpoint-up(xl) {
      font-size: 2.75rem;
    }
  }
}

.scroll-indicator-path {
  display: none;
}

.scroll-indicator-path-active {
  display: inline;
  animation: scrollDown 2s infinite;
}

@keyframes scrollDown {
  0% {
    opacity: 0
  }
  25% {
    opacity: 1
  }
  75% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}