//
// Projects
//

.project-container {
    min-height: 100vh !important;
}

@include media-breakpoint-down(lg) {
    .project-container-down-lg {
        min-height: 100vh !important;
    }
}

.projects-section {
    padding: 10rem 0;

    .featured-text {
        padding: 2rem;

        @include media-breakpoint-up(lg) {
            padding: 0 0 0 2rem;
            border-left: 0.5rem solid $primary;
        }
    }

    .project-text {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 1.5rem;
        padding-bottom: 5rem;

        @include media-breakpoint-up(lg) {
            padding: 5rem;

            hr {
                border-color: $primary;
                border-width: 0.25rem;
                width: 30%;
            }
        }

        // Font color: .text-white-50
        --bs-text-opacity: 1;
        color: rgba(255, 255, 255, 0.5) !important;

        // Customized responsive font sizes
        font-size: 16px;
        @include media-breakpoint-up(sm) {
            font-size: 20px;
        }
        @include media-breakpoint-up(md) {
            font-size: 24px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 20px;
        }
        @include media-breakpoint-up(xl) {
            font-size: 24px;
        }
        @include media-breakpoint-up(xxl) {
            font-size: 24px;
        }

        .project-header {
            // Font color: .text-white
            --bs-text-opacity: 1;
            color: $white !important;

            // Customized responsive font sizes
            font-size: 28px;
            @include media-breakpoint-up(sm) {
                font-size: 34px;
            }
            @include media-breakpoint-up(md) {
                font-size: 40px;
            }
            @include media-breakpoint-up(lg) {
                font-size: 34px;
            }
            @include media-breakpoint-up(xl) {
                font-size: 43px;
            }
            @include media-breakpoint-up(xxl) {
                font-size: 50px;
            }
        }

        .project-header-small {
            // Font color: .text-white
            --bs-text-opacity: 1;
            color: $white !important;

            // Customized responsive font sizes
            font-size: 34px;
            @include media-breakpoint-up(xl) {
                font-size: 33px;
            }
            @include media-breakpoint-up(xxl) {
                font-size: 36px;
            }
        }
    }
}

.image-caption {
    // Font color: .text-white-50
    --bs-text-opacity: 1;
    color: rgba(255, 255, 255, 0.5) !important;

    // Customized responsive font sizes
    font-size: 12px;
    @include media-breakpoint-up(sm) {
        font-size: 16px;
    }
    @include media-breakpoint-up(md) {
        font-size: 16px;
    }
    @include media-breakpoint-up(lg) {
        font-size: 12px;
    }
    @include media-breakpoint-up(xl) {
        font-size: 16px;
    }
    @include media-breakpoint-up(xxl) {
        font-size: 16px;
    }
}

.project-svg-container {
    max-width: 60%;
    @include media-breakpoint-up(sm) {
        max-width: 70%;
    }
    @include media-breakpoint-up(md) {
        max-width: 70%;
    }
    @include media-breakpoint-up(lg) {
        max-width: 100%;
    }
}

.show-lg {
    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.hidden-lg {
    @include media-breakpoint-up(lg) {
        display: none;
    }
}

#robomaster-head-image {
    background: linear-gradient(to bottom,
            #{fade-out($black, 1)} 0%,
            #{fade-out($black, 1)} 80%,
            $black 100%),
    url("../assets/img/robomaster-me.webp");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 66.64%;
}

#joystick-head-image {
    background: linear-gradient(to bottom,
            #{fade-out($black, 1)} 0%,
            #{fade-out($black, 1)} 80%,
            $black 100%),
    url("../assets/img/joystick-photo.webp");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 50%;
}
