.masthead-error-bg {
  background: linear-gradient(to bottom,
          #{fade-out($white, 0.3)} 0%,
          #{fade-out($white, 0.8)} 20%,
          #{fade-out($white, 0.3)} 70%,
          $white 100%),
  url("../assets/masthead-white.jpg");

  background-position: 58% 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1;
  animation: bg-fadein 1s;
}

.back-to-home-link {
  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--bs-active-color);
  }
}
