.masthead {
    &.masthead-home-bg {
        background: /*linear-gradient(to bottom,
                #{fade-out($white, 0.8)} 0%,
                #{fade-out($white, 0.3)} 65%,
                $white 100%),*/
                url("../assets/masthead-normal.jpg");

        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        opacity: 1;
        animation: bg-fadein 1s;

        // border-bottom: 1px solid rgba(0, 0, 0, 50%);
        border-bottom: 1px solid $white;
    }
}

.biography-text {
    // Customized responsive font sizes
    font-size: 1rem;
    @include media-breakpoint-up(sm) {
        font-size: 1.25rem;
    }
    /*@include media-breakpoint-up(md) {
        font-size: 1.25rem;
    }
    @include media-breakpoint-up(lg) {
        font-size: 1.25rem;
    }
    @include media-breakpoint-up(xl) {
        font-size: 1.25rem;
    }
    @include media-breakpoint-up(xxl) {
        font-size: 1.25rem;
    }*/

    mark {
        background: fade-out(#fcd303, 0.9);
    }
}

.home-timeline {
    tr, th, td {
        vertical-align: top;
        text-align: start;
    }

    span {
        color: rgba(0, 0, 0, 50%);
    }
}

.home-large-link {
    color: var(--bs-body-color);

    &:hover {
        color: var(--bs-active-color);
    }
}
