.masthead {
    &.masthead-photographs-bg {
        background: linear-gradient(to bottom,
                #{fade-out($white, 0.8)} 0%,
                #{fade-out($white, 0.3)} 65%,
                $white 100%),
        url("../assets/masthead-color.jpg");

        background-position: 58% 50%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        opacity: 1;
        animation: bg-fadein 1s;
    }

    border-bottom: 1px solid $navbar-light-border-color;
}

#mainNav {
    .navbar-brand-part2-photographs:before {
        content: "Photographs";
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    .navbar-brand-part2-photographs:after {
        content: "Portfolio";
        opacity: 1;
        transition: opacity 0.5s ease;
        // Left align to .navbar-brand-part2-container
        position: absolute;
        left: 0;
    }

    .collapsed .navbar-brand-part2-photographs:before {
        opacity: 1;
    }

    .collapsed .navbar-brand-part2-photographs:after {
        opacity: 0;
    }
}

.pic-section {
    display: grid;
    grid-template-columns: minmax(auto, 1200px) auto;
    grid-auto-rows: auto;
    grid-column-gap: 1em;
    @include media-breakpoint-up(sm) {
        grid-column-gap: 1em;
    }
    @include media-breakpoint-up(md) {
        grid-column-gap: 2em;
    }
    @include media-breakpoint-up(lg) {
        grid-column-gap: 5em;
    }
}

.pic-list {
    display: grid;
    align-content: center;
    grid-row-gap: 1em;
    grid-template-rows: auto;

    &.pic-gallery {

    }

    &.pic-thumbnails {
        position: sticky;
        height: 70vh;
        top: 8em;

        width: 4em;
        @include media-breakpoint-up(md) {
            width: 5em;
        }
    }
}

.pic-frame {

}
