.masthead {
    &.masthead-projects-bg {
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        opacity: 1;
        animation: bg-fadein 1s;
        border-bottom: 1px solid $black;
    }
}

#robomaster-head-image {
    background: linear-gradient(to bottom,
            #{fade-out($black, 1)} 0%,
            #{fade-out($black, 1)} 80%,
            $black 100%),
    url("../assets/robomaster-me.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 66.64%;
}

#joystick-head-image {
    background: linear-gradient(to bottom,
            #{fade-out($black, 1)} 0%,
            #{fade-out($black, 1)} 80%,
            $black 100%),
    url("../assets/joystick-photo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 50%;
}