<section class="contact-section contact-section-dark">
    <div class="container px-4 px-lg-5">
        <div class="social d-flex justify-content-center">
            <a class="mx-2 " href="mailto: zikai.liu@outlook.com" aria-label="Email me">
                <svg width="1.5em" height="1.5em">
                    <use xlink:href="#bi-envelope"></use>
                </svg>
            </a>
            <a class="mx-2 " target="_blank" rel="noopener noreferrer"
               href="https://www.linkedin.com/in/zikai-liu/" aria-label="Visit my LinkedIn">
                <svg width="1.5em" height="1.5em">
                    <use xlink:href="#bi-linkedin"></use>
                </svg>
            </a>
            <a class="mx-2 " target="_blank" rel="noopener noreferrer"
               href="https://github.com/liuzikai" aria-label="Visit my GitHub">
                <svg width="1.5em" height="1.5em">
                    <use xlink:href="#bi-github"></use>
                </svg>
            </a>
        </div>
    </div>
</section>
