<footer class="footer bg-black small text-center text-white-50">
    <div class="container px-4 px-lg-5">Zikai Liu &copy; 2023&ndash;2025</div>
    <div class="container px-4 px-lg-5 py-4">
        <a class="text-white-50 " target="_blank" rel="noopener noreferrer"
           href="https://github.com/liuzikai/liuzik.ai" aria-label="Visit the GitHub repository of this website">
            Nuts and bolts about this website on
            <span style="white-space: nowrap">
            <svg width="1em" height="1em" style="position: relative; top: -0.15em">
                <use xlink:href="#bi-github"></use>
            </svg>
            GitHub
            <svg width="1em" height="1em" style="position: relative; top: -0.15em">
                <use xlink:href="#bi-chevron-right"></use>
            </svg>
            </span>
        </a>
    </div>
</footer>
