$navbar-padding-x: 0;
$navbar-padding-y: 0;

$navbar-brand-padding-x: 0;
$navbar-brand-padding-y: 0.9rem;
$navbar-brand-font-size: 1.5rem;

$navbar-toggler-padding-x: 0.75rem;
$navbar-toggler-padding-y: 0.75rem;

// Boostrap's inconsistent naming...
$navbar-nav-link-padding-x: 1.5rem;
$navbar-nav-link-padding-y: 1.25rem;
$nav-link-padding-x: 1.5rem;
$nav-link-padding-y: 1.25rem;

$navbar-dark-brand-color: $white;
$navbar-dark-color: rgba(255, 255, 255, 0.3);
$navbar-dark-active-color: $white;
$navbar-dark-background-color: rgba(0, 0, 0, 0.3);
$navbar-dark-border-color: rgba(255, 255, 255, 0.2);

$navbar-light-brand-color: $black;
$navbar-light-color: $black;
$navbar-light-active-color: rgba(0, 0, 0, 0.5);
$navbar-light-background-color: rgba(255, 255, 255, 0.3);
$navbar-light-border-color: rgba(0, 0, 0, 0.2);

