$navbar-padding-x: 0;
$navbar-padding-y: 0;

$navbar-brand-padding-x: 0;
$navbar-brand-padding-y: 0.9rem;
$navbar-brand-font-size: 1.5rem;

$navbar-toggler-padding-x: 0.75rem;
$navbar-toggler-padding-y: 0.75rem;

// Boostrap's inconsistent naming...
$navbar-nav-link-padding-x: 1.5rem;
$navbar-nav-link-padding-y: 1.25rem;
$nav-link-padding-x: 1.5rem;
$nav-link-padding-y: 1.25rem;



